li:nth-child(odd) {
	background-color:rgb(71,71,71);
}
li:nth-child(even) {
	background-color:rgb(55,55,55);
}
li:nth-child(odd):hover {
	background-color:rgb(75,75,75);
}
li:nth-child(even):hover {
	background-color:rgb(60,60,60);
}
a.main-item {
	color:#FFF;
	font-weight:bold;
	font-size:110%;
}
div.lat {
	position:absolute;
	background-color:#333;
	height:100%;
}
div.lat:nth-child(1){
	width:30%;
	left:0;
}
div.lat:nth-child(2){
	width:35%;
	left:30%;
}
div.lat:nth-child(3){
	width:35%;
	left:65%;
}
div.lat .header {
	height:30px;
	background: -webkit-linear-gradient(top, #e6e6e6 0%,#b3b3b3 10%,#666666 90%,#222 100%);
	text-shadow:0 1px 1px #ccc;
	cursor:default;
	font-size:16px;
	padding:10px 5px 0px 5px;
	-webkit-user-select: none;
	text-align:center;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	color:#222;
}
.contents {
	position:absolute;
	top:40px;
	bottom:0;
	width:100%;
	overflow-y:scroll;
}
.result-list {
	margin:0;
	list-style:none;
	padding:0;
}
.result-list li{
	color:#999;
	cursor:default;
	padding:10px;
}
.result-list li .line1{
	margin-bottom: 7px;
}
.result-list li .line2{
	font-size:90%;
}
.result-list li.loading {
	background-color:#111 !important;
}
div.lat .result-list li .item-title{
	font-size:15px;
	position: relative;
	top: -3px;
}
