li:nth-child(odd) {
	background-color:#313131;
}
li:nth-child(even) {
	background-color:#373737;
}
li:nth-child(odd):hover {
	background-color:#444c52;
}
li:nth-child(even):hover {
	background-color:#495157;
}
a.main-item {
	color:#FFF;
	font-weight:bold;
	font-size:110%;
}
div.lat {
	position:absolute;
	top: 30px;
	bottom: 0;
}
div.lat:nth-child(1){
	width:30%;
	left:0;
}
div.lat:nth-child(2){
	width:35%;
	left:30%;
}
div.lat:nth-child(3){
	width:35%;
	left:65%;
}
div.lat .header {
	height: 22px;
	background: -webkit-linear-gradient(top, #E6E6E6 0%, #B3B3B3 10%, #666 90%, #222 100%);
	text-shadow: 0 1px 1px #CCC;
	cursor: default;
	font-size: 13px;
	padding: 2px 5px 0px 5px;
	-webkit-user-select: none;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #222;
	font-weight: bold;
	position: absolute;
	right: 0;
	left: 0;
	border-right: 1px solid #555;
	border-left: 1px solid #BBB;
}
.contents {
	position:absolute;
	top:24px;
	bottom:0;
	width:100%;
	overflow-y:scroll;
}
.result-list {
	margin:0;
	list-style:none;
	padding:0;
}
.result-list li{
	color:#999;
	cursor:default;
	padding:5px;
}
.result-list li .line1{
	margin-bottom: 7px;
}
.result-list li .line2{
	font-size:90%;
}
.result-list li.loading {
	background-color:#111 !important;
}
div.lat .result-list li .item-title{
	font-size:15px;
	position: relative;
	top: -3px;
}
